# Copyright The Linux Foundation and each contributor to LFX.
# SPDX-License-Identifier: MIT
---
apiVersion: heimdall.dadrus.github.com/v1alpha4
kind: RuleSet
metadata:
  name: {{ .Chart.Name }}
  namespace: {{ .Release.Namespace }}
spec:
  rules:
    - id: "rule:lfx:lfx-v2-project-service:openapi:get"
      match:
        methods:
          - GET
        routes:
          - path: /_projects/openapi.json
          - path: /_projects/openapi.yaml
          - path: /_projects/openapi3.json
          - path: /_projects/openapi3.yaml
      execute:
        - authenticator: oidc
        - authenticator: anonymous_authenticator
        {{- if .Values.app.use_oidc_contextualizer }}
        - contextualizer: oidc_contextualizer
        {{- end }}
        - authorizer: allow_all
        - finalizer: create_jwt
          config:
            values:
              aud: {{ .Values.app.audience }}
    - id: "rule:lfx:lfx-v2-project-service:projects:create"
      match:
        methods:
          - POST
        routes:
          - path: /projects
      execute:
        - authenticator: oidc
        - authenticator: anonymous_authenticator
        {{- if .Values.app.use_oidc_contextualizer }}
        - contextualizer: oidc_contextualizer
        {{- end }}
        {{- if .Values.openfga.enabled }}
        - authorizer: json_content_type
        - authorizer: openfga_check
          config:
            values:
              relation: writer
              object: "project:{{ "{{- .Request.Body.parent_uid -}}" }}"
        {{- else -}}
        # When OpenFGA is disabled, allow all requests
        # (Only meant for *local development* because OpenFGA should be enabled when deployed)
        - authorizer: allow_all
        {{- end }}
        - finalizer: create_jwt
          config:
            values:
              aud: {{ .Values.app.audience }}

    # TODO: remove this rule once we remove the list projects endpoint.
    # It is not meant to be used by applications, it should only be used
    # in local development, therefore the authorizer allows all requests.
    - id: "rule:lfx:lfx-v2-project-service:projects:list"
      match:
        methods:
          - GET
        routes:
          - path: /projects
      execute:
        - authenticator: oidc
        - authenticator: anonymous_authenticator
        {{- if .Values.app.use_oidc_contextualizer }}
        - contextualizer: oidc_contextualizer
        {{- end }}
        - authorizer: allow_all
        - finalizer: create_jwt
          config:
            values:
              aud: {{ .Values.app.audience }}

    - id: "rule:lfx:lfx-v2-project-service:projects:project:get"
      match:
        methods:
          - GET
        routes:
          - path: /projects/:id
      execute:
        - authenticator: oidc
        - authenticator: anonymous_authenticator
        {{- if .Values.app.use_oidc_contextualizer }}
        - contextualizer: oidc_contextualizer
        {{- end }}
        {{- if .Values.openfga.enabled }}
        - authorizer: openfga_check
          config:
            values:
              relation: viewer
              object: "project:{{ "{{- .Request.URL.Captures.id -}}" }}"
        {{- else -}}
        # When OpenFGA is disabled, allow all requests
        # (Only meant for *local development* because OpenFGA should be enabled when deployed)
        - authorizer: allow_all
        {{- end }}
        - finalizer: create_jwt
          config:
            values:
              aud: {{ .Values.app.audience }}

    - id: "rule:lfx:lfx-v2-project-service:projects:update"
      match:
        methods:
          - PUT
        routes:
          - path: /projects/:id
      execute:
        - authenticator: oidc
        - authenticator: anonymous_authenticator
        {{- if .Values.app.use_oidc_contextualizer }}
        - contextualizer: oidc_contextualizer
        {{- end }}
        {{- if .Values.openfga.enabled }}
        - authorizer: openfga_check
          config:
            values:
              relation: writer
              object: "project:{{ "{{- .Request.URL.Captures.id -}}" }}"
        {{- else -}}
        # When OpenFGA is disabled, allow all requests
        # (Only meant for *local development* because OpenFGA should be enabled when deployed)
        - authorizer: allow_all
        {{- end }}
        - finalizer: create_jwt
          config:
            values:
              aud: {{ .Values.app.audience }}

    - id: "rule:lfx:lfx-v2-project-service:projects:delete"
      match:
        methods:
          - DELETE
        routes:
          - path: /projects/:id
      execute:
        - authenticator: oidc
        - authenticator: anonymous_authenticator
        {{- if .Values.app.use_oidc_contextualizer }}
        - contextualizer: oidc_contextualizer
        {{- end }}
        {{- if .Values.openfga.enabled }}
        - authorizer: openfga_check
          config:
            values:
              relation: owner
              object: "project:{{ "{{- .Request.URL.Captures.id -}}" }}"
        {{- else -}}
        # When OpenFGA is disabled, allow all requests
        # (Only meant for *local development* because OpenFGA should be enabled when deployed)
        - authorizer: allow_all
        {{- end }}
        - finalizer: create_jwt
          config:
            values:
              aud: {{ .Values.app.audience }}

    - id: "rule:lfx:lfx-v2-project-service:project_settings:get"
      match:
        methods:
          - GET
        routes:
          - path: /projects/:id/settings
      execute:
        - authenticator: oidc
        - authenticator: anonymous_authenticator
        {{- if .Values.app.use_oidc_contextualizer }}
        - contextualizer: oidc_contextualizer
        {{- end }}
        {{- if .Values.openfga.enabled }}
        - authorizer: openfga_check
          config:
            values:
              relation: auditor
              object: "project:{{ "{{- .Request.URL.Captures.id -}}" }}"
        {{- else -}}
        # When OpenFGA is disabled, allow all requests
        # (Only meant for *local development* because OpenFGA should be enabled when deployed)
        - authorizer: allow_all
        {{- end }}
        - finalizer: create_jwt
          config:
            values:
              aud: {{ .Values.app.audience }}

    - id: "rule:lfx:lfx-v2-project-service:project_settings:update"
      match:
        methods:
          - PUT
        routes:
          - path: /projects/:id/settings
      execute:
        - authenticator: oidc
        - authenticator: anonymous_authenticator
        {{- if .Values.app.use_oidc_contextualizer }}
        - contextualizer: oidc_contextualizer
        {{- end }}
        {{- if .Values.openfga.enabled }}
        - authorizer: openfga_check
          config:
            values:
              relation: writer
              object: "project:{{ "{{- .Request.URL.Captures.id -}}" }}"
        {{- else -}}
        # When OpenFGA is disabled, allow all requests
        # (Only meant for *local development* because OpenFGA should be enabled when deployed)
        - authorizer: allow_all
        {{- end }}
        - finalizer: create_jwt
          config:
            values:
              aud: {{ .Values.app.audience }}
